<h2> Questions </h2>

<ul>
	<% @questions.each do |q| %>
    <li>
      <%= link_to "#{q.title}", question_path(q) %> 
    </li>
    <li>
      <p><%= "Posted by #{q.user.name} at #{q.created_at}." %></p>
    </li>
	<% end %>
</ul>