<h2> Answers for <%= "#{@question.title}" %> </h2>

<ul>
	<% answers.each do |a| %>
    <li>
      <%= link_to "#{a.title}", answer_path(a) %> 
    </li>

    <li>
      <%= "By #{a.user.name} at #{a.created_at}" %>
    </li>
	<% end %>
</ul>