
<% if answers.count > 0 %>
	<h3> Answers for <%= "#{@question.title}" %> </h3>

	<ul>
		<% answers.each do |a| %>
	    <li>
	      <%= link_to "#{a.title}", answer_path(a) %> 
	    </li>

	    <li>
	      <%= "By #{a.user.name} at #{a.created_at}" %>
	    </li>

	    <li>
	      <%= a.body %>
	    </li>
		<% end %>
	</ul>
<% else %>
  <h3> No answers yet! </h3>

<% end %>